.offert-details-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.offert-details-picture {
    height: 400px;
}



@media (max-width: 991px) {
    .offert-details-group {
        display: none;
    }
}