.teacher-container{
    display:flex;
    align-items:center;
    justify-content:center;
}

.teacher-content-header {
    font-size: 32px;
    font-weight: 500;
}

.teacher-content-body{
    font-size: 20px;
    margin-top: 10px;
}

.teacher-content-body > div {
    padding: 5px 0;
}

#joinUsBtn {
    background-color: #F86C53;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
    padding-right: 25px;
    padding-left: 25px;
    margin-top: 10px;
}

#teacher-picture {
    height: 400px;
}


@media (max-width: 768px){
    .teacher-container{
        flex-direction:column;
    }
}

@media (max-width: 576px) {
    .teacher-content-header {
        font-size: 28px;
    }

    .teacher-content-body {
        font-size: 17px;
    }
}

@media (max-width: 500px) {
    #teacher-picture{
        height: 350px;
    }
}

@media (max-width: 350px) {
    #teacher-picture {
        height: 200px;
    }
}