header {
    font-weight: 500;
}

#main-navbar {
    padding-top: 0px;
    padding-bottom: 0px;
}

#logo-text {
   font-size: 25px
}

#tutor-text {
    color: red;
}

#myaccount, #myaccount-small {
    line-height: initial;
}

.nav-item > a:hover {
    background-color: #FE9481;
}

#tutorIcon {
    height: 50px;
    width: 50px
}


@media (min-width: 576px) {
    #signUp {
        border-radius: 0.25rem;
        border: 2px solid black;
    }

        #signUp:hover {
            background-color: #FE9481;
        }

    #myaccount-small {
        display: none;
    }
}

@media (max-width: 575px) {
    .nav-item:hover {
        background-color: #E1F4FC;
    }

    #myaccount {
        display: none;
    }
}
