header {
    font-weight: 500;
}

#main-navbar {
    padding-top: 0px;
    padding-bottom: 0px;
}

#logo-text {
   font-size: 25px
}

#tutor-text {
    color: red;
}

#myaccount, #myaccount-small {
    line-height: initial;
}

.nav-item > a:hover {
    background-color: #F86C53;
    color:white!important;
}

#tutorIcon {
    height: 50px;
    width: 50px
}


@media (min-width: 576px) {
    #signUp {
        border-radius: 0.25rem;
        background: #F86C53;
        color:white!important;
    }

    .nav-item > a {
        border-radius: 0.25rem;
    }

    #signIn {
        margin-right: 4px;
    }

    #myaccount-small {
        display: none;
    }
}

@media (max-width: 575px) {
    .nav-item:hover {
        background-color: #E1F4FC;
    }

    .nav-item > a {
        border-radius: 0.25rem;
        padding-left:4px!important
    }

    #myaccount {
        display: none;
    }
}
