@model YourTutor.Application.Commands.Login

@{
    ViewData["Title"] = "Sign in";
}

<link rel="stylesheet" href="~/css/account/account.css" />

<h1>Sign in to your <span style="color:red">Tutor</span> account!</h1>

<hr />
<div class="row">
    <div class="col-md-8 col-lg-6 col-xl-5 col-xxl-4">
        <form asp-action="Login">
            @if (ViewBag.ErrorMessages is not null && ViewBag.ErrorMessages.Count > 0)
            {
                <partial name="~/Views/Account/_ErrorBannerPartial.cshtml" model='new ErrorBanner(ViewBag.ErrorMessages," Invalid Sign in!!!")' />
            }
            <div class="form-group account-form-group">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group account-form-group">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group form-check account-form-group">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="RememberMe" /> Remember me
                </label>
            </div>
            <div class="form-group account-form-group">
                <input type="submit" value="Sign in" id="sign-btn" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
