@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Sorry for the unexpected errors</h3>
<p>
    <strong>Please try again process your request, if problem would persists, please send the request to <a href="yourtutor-support@gmail.com">yourtutor-support@gmail.com</a></strong>
</p>
