@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/home/home.css" />

<div class="teacher-container">
    <div class="teacher-content">
        <div class="teacher-content-header">Become a <span class="tutor-text">Tutor</span> and help others learn new things</div>
        <div class="teacher-content-body">
            <div>Get new students much easier</div>
            <div>Build your personal brand</div>
            <div>Help others gain new knowledge</div>
        </div>
        <button id="joinUsBtn" class="btn">Join us</button>
    </div>
    <img id="teacher-picture" src="~/img/home/teacher.png" alt="teacher" />
</div>
<div class="students-container">
    <img id="students-picture" src="~/img/home/students.png" alt="students" />
    <div class="students-content">
        <div class="students-content-header">Find the <span class="tutor-text">Tutor</span> of your dreams and improve your skills</div>
        <div class="students-content-body">
            <div>Improve your skills with tutoring</div>
            <div>Improve your grades at school</div>
            <div>Find new hobbies</div>
        </div>
        <button id="offersBtn" class="btn">Offers</button>
    </div>
</div>
