@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/home/home.css" />

<div class="section-container teacher-container">
    <div class="section-content">
        <div class="section-content-header">Become a <span class="tutor-text">Tutor</span> and help others learn new things</div>
        <div class="section-content-body">
            <ul>
                <li>Get new students much easier</li>
                <li>Build your personal brand</li>
                <li>Help others gain new knowledge</li>
            </ul>
        </div>
        <a class="home-btn btn" asp-controller="Account" asp-action="Register">Join us</a>
    </div>
    <img class="home-picture" src="~/img/home/teacher.png" alt="teacher" />
</div>
<div class="section-container students-container">
    <img class="home-picture" src="~/img/home/students.png" alt="students" />
    <div class="section-content">
        <div class="section-content-header">Find the <span class="tutor-text">Tutor</span> of your dreams and improve your skills</div>
        <div class="section-content-body">
            <ul>
                <li>Improve your skills with tutoring</li>
                <li>Improve your grades at school</li>
                <li>Find new hobbies</li>
            </ul>
        </div>
        <a class="home-btn btn" asp-controller="Offer" asp-action="Index">Offers</a>
    </div>
</div>
