.offer-details-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.offer-details-picture {
    height: 400px;
}

.col-group > dt,
.col-group > dd {
    padding: 2px 0;
}

.buttons-group {
    display: flex;
}


    .buttons-group > div > a {
        padding: 5px 15px;
        margin: 0px 5px;
    }

#tutor-btn,
#contact-btn {
    font-weight: 500;
    letter-spacing: 0.5px;
}
.card-row {
    justify-content: center;
}

.offer-card {
    margin: 20px;
}

.fullName {
    font-weight: 500;
}

.card-btn {
    width: 100%;
    font-weight: 500;
    letter-spacing: 0.5px;
    background-color: var(--button-background-color);
    color: var(--button-text-color) !important;
}

    .card-btn:hover {
        background-color: var(--button-background-hover-color);
    }


.pagination-container {
    margin-top: 15px;
}

.number-page:hover {
    background-color: #0d6efd;
    color: white;
}

#currentlyPage {
    background-color: #0d6efd;
    color: white;
}

.input-row {
    margin-top: 20px;
}

.input-container {
    margin: 10px 0px;
}

.filter-btns {
    display: flex;
    justify-content: right;
}

    .filter-btns > a {
        margin-right: 3px;
        margin-left: 3px;
    }

    .filter-btns > a,
    #create-btn {
        font-weight: 500;
        letter-spacing: 0.5px;
        padding: 5px 15px;
    }

#create-btn {
    margin-top: 8px;
}

@media (max-width: 991px) {
    .offer-details-group {
        display: none;
    }
}
