@model YourTutor.Application.ViewModels.CreateOfferVm

@{
    ViewData["Title"] = "Create offer";
}


<link rel="stylesheet" href="~/css/offer/createOffer.css" />

<h1>Create <span class="tutor-text">Offer</span></h1>

<h4>Fill out form to create offer</h4>
<hr />
<div class="row">
    <div class="col-md-12 col-lg-6 col-xl-5 col-xxl-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group create-offer-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group create-offer-group">
                <label asp-for="Subject" class="control-label"></label>
                <input asp-for="Subject" class="form-control" />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="form-group create-offer-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>            
            <div class="form-group create-offer-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group form-check remotely-group">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsRemotely" /> Remotely
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" id="create-btn" />
            </div>
            <div class="form-group">
                <a class="btn btn-primary" id="back-btn" asp-controller="Offer" asp-action="Index">Back</a>
            </div>
        </form>
    </div>
    <div class="col-md-4 col-lg-6 col-xl-7 col-xxl-6 picture-col"><img class="pencil-picture" src="~/img/offer/pencil.png" alt="pencil" /></div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
